body{
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-family: fantasy;
}

 

 

/* p {
    margin: 0
} */

.eight-ball{background-color:Black;
border: 1px solid black;
border-radius: 50%;
width: 300px;
height: 300px;
/* margin:0 auto; */
}


.answer{
  
    background-color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 25% auto;
      
    }


p#eight{
    margin: 25% auto;
    font-size:5em;
    color: white;
}

p#answer{
    padding: 25px;
    color: lightcoral;
    letter-spacing: 2px;
}
button, input{
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 2px;
    transition: .5s font-size;
    font-family: georgia;
}

button:hover{
    font-size: 5.4em;
}